

body{
  font-family: 'Hind Madurai',sans-serif;
  background-color: rgb(245, 227, 190);
   padding: auto 0px; 
}



.container-1 {
  display: flex;
	flex-wrap: wrap;
	border: 1px solid black;
  height: 100vh;

  

}

.header-row {
  background-color: rgb(104, 199, 249);
	flex-basis: 100%;
	text-align: center;
  border: 1px solid black;
}

.homeh1 {
  font-size: 30px;
  text-align: center;
}

.homeh2 {
  font-size: 30px;
  text-align: center;
}

.cocktail {
  flex-basis: 25%;
  background-color: rgb(225, 178, 128);
 
  
}
 .content {
   flex-basis: 50%;
   background-color: rgb(211, 202, 209);
   background: url('https://i.imgur.com/cDUSOgK.jpg') center fixed;
    

 }

 .ingredient {
  flex-basis: 25%;
  background-color: rgb(168, 6, 165);


}

.glossary {
  flex-basis: 100%;
	background-color: rgb(104, 199, 249);
	border-top: 5px solid black;
}

.container3 {
  display: flex;
  flex-wrap: wrap;
	border: 1px solid black;
  height: 100vh;
  background: url('https://i.imgur.com/vlGvAjI.jpg');
  background-size: cover;
  align-items: center;
  justify-content: center;

}

.buttons-cocktail {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    /* font-size: 108px; */

}
/* .cocktail-button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  font-size: 108px;
 
}

.sub-button1 {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  font-size: 48px;
} */

.cont-gloss1 {
  display: flex;
  background: url('https://images.unsplash.com/photo-1529502669403-c073b74fcefb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80') no-repeat center center fixed; 
  /* background-image: url('imageedit_1_8449743211.jpg') no-repeat center center fixed; */
  background-size: cover;
  /* background-blend-mode: lighten; */

  
}


/* img{
  opacity: 0.5;
} */



.gloss-1 {
  font-size: 40px;
  color: rgb(248, 237, 137);
  text-shadow: 0 0 3px rgb(248, 228, 228);

 
}


.gloss-list {
  list-style-type: none;
  color: rgb(248, 237, 137);
  text-align: left;
  text-decoration: underline;
  text-shadow: 0 0 3px rgb(248, 228, 228);
 

}

.gloss-button {
  background-color: yellow;
  color: rgb(83, 23, 23);
  border: 5px solid rgb(83, 23, 23);
  padding: 20px;
  border-radius: 5px;
  margin:10px;
  font-size: 20px;
  box-shadow: 0 0 3px rgb(248, 228, 228)

}




